body{
    background-color: aqua;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
    height: 300px;
}
.container{
    background-color: blue;
    align-items: center;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    align-items: center;
}
.container .value {
    font-size: 6rem;
    margin: 10px;
}
.container .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.container .button-container .btn {
    margin: 30px;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
}




