    .questions {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 100px;
    }    
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
        height: 10px;
    }
    .title h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
    }

    .section-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px solid;
    } 
    .question {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .question-title {
        display: flex;
        justify-content: center;    
    }
    .question-btn {
        display: flex;
        justify-content: space-between;
        margin: 12px;
    }
    .plus-icon {
        margin: 10px;
        height: 10px;
        color: black;
        font-size: 2rem;
    }

